* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    position: relative;
}
header {
    height: 90px;
    /* margin: auto 0px; */
    display: flex;
    align-items: center;
}

fieldset {
    border: none;
    width: 100%;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}

.logo {
    height: 50px;
    margin-left: 100px;
    opacity: 1;
}

.main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.transparent {
    opacity: 0.5;
}
#contact_modal {
    position: absolute;
    width: 100%;
    /* max-width: 830px; */
    top: 3rem;
    left: 0;
}

#contact_modal.hide {
    display: none;
}
.photograph-header {
    position: relative;
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.photograph-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 1;
}
.photograph-picture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    order: 3;
}

.photograph-header h1 {
    color: #d3573c;
    font-size: clamp(24px, 2rem, 3rem);
    margin-top: 20px;
}
.photographe-location {
    color: #901c1c;
    font-weight: bold;
}
.contact_button {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}
.total-likes {
    position: fixed;
    display: flex;
    padding: 16px;
    background-color: #db8876;
    bottom: 0;
    right: 20px;
    font-weight: bold;
    gap: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.photograph-likes {
    display: flex;
    align-items: center;
}
.total-likes__heart {
    width: 16px;
    margin-left: 5px;
}
.sort-btn {
    margin-left: 100px;
}
select {
    color: #fff;
    background-color: #901c1c;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
select:first-child {
    border-bottom: solid 1px #fff;
}
option {
    font-weight: bold;
    padding: 10px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 30px 100px;
    gap: 50px;
    padding-bottom: 60px;
}

.gallery-content {
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: zoom-in;
}
.gallery-text {
    display: flex;
    justify-content: space-between;
    color: #901c1c;
    font-weight: bold;
}
.gallery-likes {
    display: flex;
    gap: 5px;
}
img.gallery-heart {
    width: 18px;
    cursor: pointer;
}
.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    max-width: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: auto;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 4rem;
    font-weight: normal;
    text-align: left;
    padding: 5px 12px;
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
}
.lightbox.hide {
    display: none;
}
.lightbox-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}
.lightbox-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 100%;
}
.lightbox-content img,
.lightbox-content video {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 3px 0px 0px rgba(51, 51, 51, 0.3);
}
.lightbox-title {
    color: #901c1c;
    margin-top: 0.8rem;
}

.lightbox button {
    color: #901c1c;
    outline: #333;
    position: absolute;
    background-color: transparent;
}
.lightbox button:not(:focus-visible) {
    border: none;
}
.lightbox-close {
    font-size: 3.5rem;
}
.lightbox-previous,
.lightbox-next {
    font-size: 5rem;
}
.lightbox-previous {
    padding: 50% 20px;
    left: 20px;
    overflow: hidden;
}
.lightbox-next {
    padding: 50% 20px;
    right: 20px;
    overflow: hidden;
}
.lightbox-close {
    padding: 10px;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 1;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 2.25rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
textarea {
    width: 100%;
}
