@import url("photographer.css");
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901c1c;
    margin-right: 100px;
}

a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article,
.photographer_section a {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}

.photographer_section article h2 {
    color: #d3573c;
    font-size: clamp(24px, 2rem, 3rem);
    margin-top: 20px;
}

.photograph-picture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.photographer_section p {
    font-size: 0.7rem;
}
.photographer_section .photographe-location {
    color: #d3573c;
}
.photographer_section .photographe-tagline {
    font-weight: bold;
}
